@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4F6367;
  border-radius: 30px;
}

.animate-spin{
  animation-duration: 3s;
}

@media (max-width: 1400px) {
  .translate_x {
    transform: translateX(-20px);
  }
}